{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>
<body>
	
	{% if user.is_superuser %}
	<ol>
	{% for post in page_obj %}
	<li><center><div class="list">
	<h5 class="card-title">Ім'я: {{ post.name }}</h5>
	<h5 class="card-title">Пошта: {{ post.email }}</h5>
	<h5 class="card-title">Послуга: {{ post.service }}</h5>
	<h5 class="card-title">Час: {{ post.time }}</h5>
	<h5 class="card-title">Повідомлення: {{ post.msg }}</h5>
	</div></center></li>
	{% endfor %}
	</ol>

	{% endif %}
  
</body>
</html>